@import "reset.scss";

.wrap {
  width: 100%;

  font-family: "Helvetica", sans-serif;

  nav {
    width: 100%;

    .upperNav {
      width: 1000px;
      height: 40px;

      margin: 0 auto;
      display: flex;

      #logo {
        width: 100px;
        height: 28px;
        margin: 8px 8px 0 0;
        display: flex;

        align-items: center;
      }
      .signin-div {
        width: 154px;
        height: 40px;

        display: flex;
        border-left: 1px #cccccc solid;
        align-items: center;
        .fa-user-circle {
          font-size: 25px;
          width: 25px;
          height: 25px;
          margin: 11px 15px;
        }

        .signin-text {
          width: 60px;
          font-weight: bold;
          font-size: 14px;
          padding: 0 50px 0 0;
        }
      }
      .bell-div {
        width: 50px;
        height: 100%;

        display: flex;
        align-items: center;
        .wigglyline {
          width: 9px;
          height: 98%;
        }
        .bell {
          width: 25px;
          height: 25px;
          margin: 4px 8px 0 5px;
        }
      }
      .topbar-section {
        width: 68px;
        height: 100%;
        display: flex;

        border-left: 1px #cccccc solid;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        padding: 0 6px 0 6px;
        span {
        }

        .more {
          width: 16px;
          height: 16px;
          margin-left: 20px;
        }
      }

      .search {
        width: 211px;
        height: 100%;

        .search-box {
          width: 176px;
          height: 17px;
          background-color: #e4e4e4;
          border: none;
          font-weight: bold;
          font-size: 14px;
          padding: 5px;
          margin: 5px 0 5px 0px;
        }
        .search-glass {
          height: 26.45px;
          padding-bottom: 3px;
          margin-top: 4px;
        }
      }
    }

    .midNav {
      width: 100%;
      height: 70px;

      background-color: rgb(172, 44, 36);
      display: flex;
      align-items: center;

      .midNav-content {
        width: 1000px;
        height: 70px;

        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        h1 {
          font-size: 40px;
          padding: 0;
          margin: 0;
          color: white;
          font-size: 40px;
          font-weight: normal;
          padding-top: 10px;
        }

        .localNews {
          width: 250px;
          border: 1px #bb4545 solid;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;

          a {
            color: white;
            text-decoration: none;
            font-size: 30px;

            display: flex;
            justify-content: center;
            align-items: center;
          }
          .fa-map-marker-alt {
            font-size: 30px;
            color: white;
            margin-left: 10px;
          }
        }
      }
    }
    .downNav {
      width: 100%;
      height: 40px;

      background-color: #a91717;
      display: flex;
      align-items: center;
      .downNav-content {
        width: 1000px;
        height: 100%;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          color: white;
          text-decoration: none;
          padding: 0 10px;
          border-right: 1px solid #bb4545;
          font-size: 14px;

          top: 10px;

          .icon {
            display: flex;
            align-items: center;
          }
          .fa-sort-down {
            margin: 0 0 3px 9px;
          }
        }
      }
    }
  }
  .mainContent {
    width: 100%;
    height: 600px;
    border: 1px solid blue;
    .themeTitle {
      width: 1000px;
      height: 50px;
      margin: 0 auto;
      h2 {
        font-weight: normal;
        margin-top: 10px;
        font-size: 20px;
        border-bottom: 2px solid #a91717;
        width: 105px;
      }
    }

    .page-container {
      width: 1000px;
      height: 450px;
      margin: 0 auto;
      display: flex;
      .article {
        width: 70%;
        height: 320px;

        display: flex;
        flex-direction: row;
        border-right: 1px solid #cccccc;
        padding-right: 20px;

        h3 {
          font-size: 30px;
          color: black;
          font-weight: bold;

          margin-bottom: 20px;

          a {
            text-decoration: none;
            &:hover {
              color: rgb(0, 140, 255);
            }
          }
        }
        .article-inner {
          display: flex;

          .article-summary {
            width: 40%;
            height: 230px;

            display: flex;
            justify-content: space-around;
            flex-direction: column;

            .article-preview {
              width: 100%;

              color: #5a5a5a;
              text-align: left;
            }
            .fa-clock {
              color: #5a5a5a;
              height: 15px;
              font-size: 15px;
            }
            .date {
              color: #5a5a5a;
              padding-right: 6px;
              box-sizing: border-box;
            }
            .topic-link {
              text-decoration: none;
              color: #a91717;
              border-left: 1px solid #cccccc;
              padding-left: 6px;
              box-sizing: border-box;
            }
          }

          hr {
            width: 50px;

            border-bottom: 1px solid #a91717;
            left: 0;
            margin-left: 0px;
            margin-right: auto;
          }

          .article-link {
            color: black;
            text-decoration: none;
            font-size: 14px;
            width: 100%;

            margin-top: 8px;

            &:hover {
              color: blue;
            }
          }
          .article-img {
            width: 400px;
            height: 230px;

            margin-left: 20px;
          }
        }
      }
      .watch-listen {
        width: 30%;

        padding-left: 20px;

        h4 {
          font-size: 20px;
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          margin-bottom: 20px;
        }
        .side-container {
          width: 100%;
          height: 380px;

          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .side-article {
            width: 100%;
            height: 120px;

            display: flex;

            .side-discussion {
              display: flex;
              flex-direction: column;

              width: 60%;
              height: 100%;
              padding-left: 10px;
              .side-title {
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: black;
                font-size: 18px;
                line-height: 20px;

                &:hover {
                  color: blue;
                }
              }
              span {
                color: #5a5a5a;
                padding-right: 10px;
                margin-top: 10px;
              }
              .topic-link {
                text-decoration: none;
                color: #a91717;
                margin-top: 3px;
              }
            }

            .side-img {
              width: 90px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}
